<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<header class="navigation">
  <nav>
    <ul>
      <li
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Main
      </li>
      <li
        routerLink="/about-me"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        About me
      </li>
      <li
        routerLink="/portfolio"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Portfolio
      </li>
      <li
        routerLink="/contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Contact
      </li>
      <li>
        <a class="fab fa-github" href="https://github.com/MatZmu1">Github</a>
      </li>
    </ul>
  </nav>
</header>
