
<div class="about">
  <mat-card class="about-card">
    <mat-card-header class="header-card">
      <div><img src="IMG_1848.jpg" alt="" /></div>
      <mat-card-title><h3>Mateusz Zmuda</h3></mat-card-title>
      <mat-card-subtitle>Junior Front-End Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I am full of energy, positive person with passions to new technology,
        american football and financial markets. I love contact and work with
        people. Currently, I want to develop in the IT area under the
        supervision of specialists.
      </p>
    </mat-card-content>
  </mat-card>
</div>
