.about {
  height: 80vh;
}
.bg-1 {
  background-color: #2fc0a3;
  color: #ffffff;
  height: 35vh;
  font-family: "Indie Flower", cursive;
  font-size: 25px;
}
.img-circle {
  height: 120px;
  width: 80px;
}
.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  height: 45vh;
  color: rgb(101, 235, 206);
  border-top-color: #e5e5e5;
  border-top-style: solid;
}
