<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
/>
<div class="about">
  <div class="container-fluid bg-1 text-center">
    <h3>Mateusz Zmuda</h3>
    <img src="IMG_1848.jpg" class="img-circle" alt="Photo" />
    <h3>Junior Front-End Developer</h3>
  </div>

  <div class="container-fluid bg-2 text-center">
    <h3>What Am I?</h3>
    <p>
      I am full of energy, positive person with passions to new technology,
      american football and financial markets. I love contact and work with
      people. Currently, I want to develop in the IT area under the supervision
      of specialists.
    </p>
  </div>
</div>
