.main {
  background-color: rgb(250, 250, 250);
  height: 80vh;
  width: 100vw;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e5e5e5;
}
.me {
  display: flex;
  flex-direction: column;
  padding: 150px;
  font-family: "Indie Flower", cursive;
  font-size: 25px;
}
span {
  color: rgb(101, 235, 206);
}
.typewriter {
  font-family: "Roboto", sans-serif;
  color: rgb(246, 248, 248);
  width: 40vw;
  height: 20vh;
  background-color: #000000;
  padding: 10px;
  border-radius: 25px;
  background: #000;
  border: 3px groove #ccc;
  font-size: 22px;
}

.icon-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 5px;
}

.icon-bar a:hover {
  background-color: #000;
  padding: 35px;
  font-size: 35px;
}

.facebook {
  background: #3b5998;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.github {
  background: #464545;
  color: white;
}

.cv {
  background: #f86a60;
  color: white;
}
@media (min-width: 320px) and (max-width: 480px) {
  div.me {
    font-size: 20px;
    padding: 100px;
  }
  .typewriter {
    font-size: 12px;
    width: 50vw;
    height: 13vh;
  }
}
