<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="main">
  <div class="me">
    <h1>Mateusz Zmuda</h1>
    <br />
    <span>Junior Front-End Developer</span>
    <br />
    <!-- <span>
      “The only way to do great work is to love what you do.
      <br />
      If you haven't found it yet, keep looking. Don't settle....”
      <br />
      Steve Jobs
    </span> -->
    <div class="typewriter">{{typewriter_display }}</div>
  </div>
  <div class="icon-bar">
    <a href="https://www.facebook.com/mateusz.zmuda.90" class="facebook"
      ><i class="fa fa-facebook"></i
    ></a>
    <a href="https://linkedin.com/in/mateuszzmuda" class="linkedin"
      ><i class="fa fa-linkedin"></i
    ></a>
    <a href="https://github.com/MatZmu1" class="github"
      ><i class="fab fa-github"></i
    ></a>
    <a href="#" class="cv"><i class="fas fa-user"></i></a>
  </div>
  
</div>
