<div class="portfolio">
  <mat-card class="portfolio-card">
    <mat-card-header>
      <div mat-card-avatar class="portfolio-header-image"></div>
      <mat-card-title>Project 1 </mat-card-title>
      <mat-card-subtitle><h3>Memory Game</h3></mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://cdn.pixabay.com/photo/2014/09/10/00/59/utah-440520__480.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla qui
        repudiandae porro, nemo deserunt laudantium cum quae exercitationem.
        Non, nobis placeat. Voluptatem voluptatum animi doloribus! Placeat ut
        impedit ducimus ipsam!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button" mat-button routerLink=".">Link</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="portfolio-card">
    <mat-card-header>
      <div mat-card-avatar class="portfolio-header-image"></div>
      <mat-card-title>Project 2</mat-card-title>
      <mat-card-subtitle><h3>To do list</h3></mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712__480.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla qui
        repudiandae porro, nemo deserunt laudantium cum quae exercitationem.
        Non, nobis placeat. Voluptatem voluptatum animi doloribus! Placeat ut
        impedit ducimus ipsam!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button" mat-button routerLink=".">Link</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="portfolio-card">
    <mat-card-header>
      <div mat-card-avatar class="portfolio-header-image"></div>
      <mat-card-title>Project 3 </mat-card-title>
      <mat-card-subtitle><h3>Weather app</h3></mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://cdn.pixabay.com/photo/2016/11/19/18/57/godafoss-1840758__480.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla qui
        repudiandae porro, nemo deserunt laudantium cum quae exercitationem.
        Non, nobis placeat. Voluptatem voluptatum animi doloribus! Placeat ut
        impedit ducimus ipsam!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="button" mat-button routerLink=".">Link</a>
    </mat-card-actions>
  </mat-card>
</div>
